* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 62.5%;
}

h1,
legend,
h3,
footer {
  font-family: "Staatliches", sans-serif;
}

p,
label {
  font-family: "Poppins", sans-serif;
}

body {
  background: #e5e5e5;
}

body::before {
  content: "";
  width: 100%;
  height: 43.6rem;

  position: absolute;
  top: -2px;
  left: 0;
  z-index: -1;
  background: #535971;
}

.page {
  width: 75rem;
  margin: auto;
}

header {
  width: 41.7rem;
  margin: 14rem 67.8rem 5.8rem 34.5rem;
}

header h1 {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 6rem;
  color: #ffffff;
  width: 16.3rem;
}

header p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 1.8rem;
}

form {
  margin-top: 3.8rem;
  background: #ffffff;
  border-radius: 0.8rem 0.8rem 0 0;
  min-height: 30rem;

  padding: 6.4rem;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset {
  border: none;
  margin-bottom: 3rem;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

fieldset legend {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.4rem;

  width: 100%;

  color: #535971;

  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 1.6rem;
  margin-bottom: 3.2rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #4e4958;

  margin-bottom: 0.8rem;
}

.input-wrapper label span {
  margin-left: 0.72rem;

  font-size: 1.2rem;
  line-height: 2rem;

  color: #c1bccc;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  background: #ffffff;

  border: 1px solid #e6e6f0;
  border-radius: 0.8rem;

  height: 5.6rem;

  padding: 0 2.4rem;

  font-size: 1.6rem;
  line-height: 2.6rem;

  color: #6c6a71;
}

.input-wrapper textarea {
  padding: 0;
  height: 16.8rem;
}

.col-2 {
  display: flex;
  gap: 2.2rem;
  justify-content: flex-start;
  align-items: center;
}

.col-2 > div:nth-child(1) {
  width: 50%;
}
.col-2 > div:nth-child(2) {
  width: 50%;
}

.col-3 {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.col-3 > div:nth-child(1) {
  width: 100%;
}

.col-3 > div:nth-child(2) {
  margin-top: 5rem;
}

.col-3 > div:nth-child(3) {
  margin-top: 5rem;
}

.col-3 h1 {
  color: #535971;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.4rem;
  margin-top: 1.6rem;
}

footer {
  background: #535971;

  height: 13.6rem;

  display: flex;
  flex-direction: column;

  padding: 4rem 6.4rem;

  margin-bottom: 10rem;

  border-radius: 0 0 0.8rem 0.8rem;
}

footer .button {
  height: 5.6rem;
  background: #ff5374;
  border: 0;
  border-radius: 0.8rem;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;

  color: #ffffff;
}

input:invalid {
  border: 1px solid #ff5374;
}

@media screen and (max-width: 768px) {
  header {
    margin-right: auto;
    margin-left: auto;
  }
}
